<form *ngIf="formStatus == 'student'" #studentForm="ngForm" (ngSubmit)="modelContext == 'edit' ? editStudent() : addStudent()" >
  <div class="form_content">
  <div>
    <input class="form-control" type="text" name="firstName" [(ngModel)]="model.firstName" placeholder="First Name">
  </div>
  <div>
    <input class="form-control" type="text" name="lastName" [(ngModel)]="model.lastName" placeholder="Last Name">
  </div>
  <div>
    <input class="form-control" type="text" name="address" [(ngModel)]="model.address" placeholder="Address">
  </div>
  <div>
    <input class="form-control" type="text" name="state" [(ngModel)]="model.state" placeholder="State">
  </div>
  <div>
    <input class="form-control" type="text" name="gender" [(ngModel)]="model.gender" placeholder="Gender">
  </div>
  <div class="content_action form_action">
    <button type="submit">{{modelContext == 'edit' ? 'Edit student' : 'Add student'}}</button>
    <div *ngIf="modelContext == 'edit'" (click)="deleteStudent()" >Delete student</div>
  </div>
  </div>
</form>

<form *ngIf="formStatus == 'course'" #courseForm="ngForm" (ngSubmit)="modelContext == 'edit' ? editCourse() : addCourse()" >
  <div class="form_content">
  <div>
    <input class="form-control" type="text" name="code" [(ngModel)]="model.code" placeholder="Code">
  </div>
  <div>
    <input class="form-control" type="text" name="name" [(ngModel)]="model.name" placeholder="Name">
  </div>
  <div>
    <input class="form-control" type="text" name="description" [(ngModel)]="model.description" placeholder="Description">
  </div>
  <div class="content_action form_action">
    <button type="submit">{{modelContext == 'edit' ? 'Edit course' : 'Add course'}}</button>
    <div *ngIf="modelContext == 'edit'" (click)="deleteCourse()" >Delete course</div>
  </div>
  </div>
</form>
