
<div *ngIf="!loading" class="content" role="main">
  <div class="action">
    <div class="filter_action">
      <mat-form-field appearance="fill">
        <mat-label>Students</mat-label>
        <mat-select multiple>
          <mat-option (onSelectionChange)="filterStudentsOnChange($event)" *ngFor="let student of studentsFilter" [value]="student.studentID">
            {{student.firstName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Courses</mat-label>
        <mat-select multiple>
          <mat-option (onSelectionChange)="filterCoursesOnChange($event)" *ngFor="let course of coursesFilter" [value]="course.courseID">
            {{course.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="content_action">
      <div (click)="openModal('student')"><span>Add student</span></div>
      <div (click)="openModal('course')"><span>Add course</span></div>
    </div>
  </div>
  <div class="content-wrapper">
  <table>
    <tr>
      <th *ngFor="let course of headerRow">
        <div (click)="getCourseDetail(course)">{{course.name}}</div>
      </th>
    </tr>
    <tbody>
    <tr *ngFor="let row of formattedArray">
      <td *ngFor="let column of headerRow">
        <div (click)="!row[column.name] || !row[column.name].grade ? getStudentDetail(row): null">
          <input
            (keyup.enter)=" row[column.name].grade === '/' ? addMark(row[column.name], row.ID, $event) : updateMark(row[column.name].markID, $event)"
            name="mark"
            [disabled]="!row[column.name] || !row[column.name].grade"
            value="{{row[column.name] && row[column.name].grade ? row[column.name].grade : row[column.name]}}"/>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  </div>

  <div class="modal" *ngIf="modalOpen">
    <div class="modal-wrapper">
      <div class="modal-content">
        <div (click)="closeModal()" class="modal-close">
          &#10005;
        </div>
        <div class="modal-form">
          <app-form
            [modalID]="modalID"
            [model]="model"
            [modelContext]="modalContext"
            [formStatus]="modalStatus"
            (onCloseModal)="closeModal()"
            (onGetData)="getData()"
          ></app-form>
        </div>
      </div>
    </div>
  </div>
</div>

<lib-toastify-toast-container></lib-toastify-toast-container>
