/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100% }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content{
  width: 100%;
  height: 100%;
  position: relative;
}
.content-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.action > *{
  display: inline-block;
}

table{
  table-layout: fixed;
}

input{
  width: 100px;
  box-sizing: border-box;
}

tr{
  cursor: pointer;
}

th, td{
  width: 150px;
  text-align: left;
  border: 1px solid #ddd;
}

input:focus{
  outline: none;
  border: none;
}

th{
  padding-left: 20px;
}

table input{
  width: 100%;
  border: none;
}

.action{
  padding: 30px;
}

.content_action{
  float: right;
}

.filter_action{
  float: left;
}

.filter_action > *{
  margin-left: 20px;
}

.content_action > *{
  margin-left: 20px;
  width: 100px;
  height: 50px;
  background: #f3f0f1;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  transition: all 0.1s ease-in-out;
  font-family: "Roboto", sans-serif;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
  6px 6px 10px rgba(0, 0, 0, 0.2);
  color: black;
  font-weight: bold;
}

.content_action > *:hover{
   opacity: 0.3;
   box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
   6px 6px 10px rgba(0, 0, 0, 0.2);
}

.modal{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
}

.modal-wrapper{
  opacity: 1;
  position: absolute;
  z-index: 1000000;
  width: 400px;
  height: 500px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: #f3f0f1;
}

.modal-content{
  position: relative;
}

.modal-close{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

input:disabled{
  cursor: pointer;
  background: white;
}

.form_content{
  padding: 50px;
}

.form_content > div{
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

.form_content .content_action.form_action > *{
  margin-left: 0;
}

.form_content .content_action.form_action > *:nth-child(2){
  margin-left: 10px;
}

.form_content div input{
  width: 100%;
  border: none;
  height: 100%;
  box-sizing: border-box;
}


.form_action{
  padding: initial;
}




